# ignore_files

.vscode/
Projects/ft32_demo/MDK-ARM/Listings/*
Projects/ft32_demo/MDK-ARM/Objects/*
Projects/ft32_demo/MDK-ARM/DebugConfig/*
Projects/ft32_demo/MDK-ARM/Project.uvguix.*
Projects/ft32_demo/MDK-ARM/EventRecorderStub.*
Projects/ft32_demo/MDK-ARM/JLink*


*.DS_Store/

