# ignore_files

.vscode/
Projects/fsmc_8b/MDK-ARM/Listings/*
Projects/fsmc_8b/MDK-ARM/Objects/*
Projects/fsmc_8b/MDK-ARM/DebugConfig/*
Projects/fsmc_8b/MDK-ARM/Project.uvguix.*
Projects/fsmc_8b/MDK-ARM/EventRecorderStub.*
Projects/fsmc_8b/MDK-ARM/JLink*


*.DS_Store/

